body {
  background-color: #e4e4f2;
}

.shopping-list {
  background-color: #f8f8f8;
  width: 30%;
  height: 500px;
  margin: 0 auto;
  border-radius: 20px;
}

.header {
  background-image: linear-gradient(to bottom right, #f8cacc, #8da4d0);
  height: 10%;
  margin: 10px auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}

.input-area {
  background-color: white;
  width: 97%;
  height: 25px;
  border: none;
  margin: 400px auto;
}

.footer {
  background-image: linear-gradient(to bottom right, #f8cacc, #8da4d0);
  height: 10%;
  margin: -400px auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
